
     .parent p{
       font-family: cursive;
       letter-spacing :5px;
       text-transform: capitalize;
       text-decoration: line-through;

        }
        p:hover{
            color:rgb(194, 10, 47);
            background-color: rgb(12, 88, 230);
        }
        .border{
            border: 2px solid rgb(4, 245, 225);
            padding-left: 10px;
            print-color-adjust: 10px;
        }
        .marging{
            border: 3px solid rgb(81, 5, 151);
            margin-top:5px;
            padding:10px 50px 5px;
            
        }
        .relative{
            position: absolute;
            top: 100px;
            left:50px;
        }
        .page{
        height:100vh;
        }
        .fixed{
            position: fixed;
            left:150px;
        }
        .sticky
        {
            position:sticky;
            top:10px;
            left:120px;
        }
        .flex-container{
            display:flex;
            flex-direction: row;
            background-color:rgb(202, 121, 21);
            border:2px solid blue;
            padding:25px;
            justify-content: space-evenly;
            align-items: center;
            height: 100vh;
        }
        .flex-container div{
            background-color: rgb(19, 191, 133);
            border:2px soild blueviolet;
            height:100px;
            width:100px;
        }
        .two{
            flex-grow: 0;
            flex-shrink: 0;
        }
        .nav{
            display: flex;
            justify-content: space-evenly;
        }
        li{
            list-style:none;
        }
        .grid-container{
            display:grid;
            grid template:50px 50px 50px/50px 50px 50px 50px 50px;

        }
        .grid-container div{
            border:2px solid rgb(15, 12, 12);
            backgroud-color:blueviolet;
        }
        .one{
            grid-column-start: 1;
            grid-column-end:4;
            grid-row-start:1;
            grid-row-end:3;
        }
        .three{
             grid-column-start: 3;
            grid-column-end:2;
            grid-row-start:1;
            grid-row-end:5;
        }
    @media (max-width:468px){
        .nav{
            display:flex;
            flex-direction: column;
            color:aqua;
        }
    }